/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.grid {
    display: grid;
}

.flex {
    display: flex;
}

body {
    grid-template-columns: 1fr 4fr;
}

header {
    background-color: cornflowerblue;
    grid-row: 1;
    grid-column: 2;
}

header > .container.flex {
    justify-content: space-between;
}

header img {
    height: 2rem;
}

nav {
    background-color: mediumseagreen;
    grid-row: 1 / span 2;
    grid-column: 1;
    gap: 1rem;
    align-content: start;
}

main {
    background-color: palevioletred;
    grid-row: 2;
    grid-column: 2;
    grid-template-columns: 3fr 1fr;
    gap: 1rem;
}

main .projects {
    grid-row: 1 / span 2;
    grid-column: 1;
}

main .card-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}

main .card {
    border: 1px solid black;
}

.announcements {
    grid-row: 1;
    grid-column: 2
}

.trending {
    grid-row: 2;
    grid-column: 2;
}

.trending .grid {
    grid-template-columns: auto 1fr;
    row-gap: 1rem;
}

.trending img {
    height: 2rem;
}