/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.grid {
    display: grid;
}

.flex {
    display: flex;
}

.small-icon {
    height: 1rem;
}

.medium-icon {
    height: 2rem;
}

.large-icon {
    height: 3rem;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    grid-template-columns: 13rem 1fr;
}

header {
    background-color: cornflowerblue;
    grid-area: 1 / 2;
    padding: 2rem;

    justify-content: space-between;
    align-items: center;
}

header .greeting-container {
    grid-template-columns: auto 1fr;
    column-gap: 1rem;
    align-items: center;
}

header img.profile-pic {
    grid-area: 1 / 1 / span 2 / 1;
}

header .username {
    font-size: 1.5rem;
}

header .button-container {
    gap: 1rem;
}

header button {
    width: 5rem;
    border: none;
    border-radius: 1rem;
    padding: 0.5rem;
}

nav.grid {
    background-color: mediumseagreen;
    grid-area: 1 / 1 / span 2 / 1;
    padding: 1rem;

    grid-template-columns: auto 1fr;
    gap: 0.5rem;
    align-content: start;
    align-items: center;
}

nav.grid > h1 {
    font-size: 1.5rem;
}

nav.grid > img {
    justify-self: center;
}

nav.grid > hr {
    grid-column: 1 / span 2;
    width: 80%;
    height: 1px;
    background-color: black;
    border: none;
}

main {
    background-color: palevioletred;
    grid-row: 2;
    grid-column: 2;
    grid-template-columns: 3fr 1fr;
    gap: 1rem;
}

main .projects {
    grid-row: 1 / span 2;
    grid-column: 1;
}

main .card-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}

main .card {
    border: 1px solid black;
}

.announcements {
    grid-row: 1;
    grid-column: 2
}

.trending {
    grid-row: 2;
    grid-column: 2;
}

.trending .grid {
    grid-template-columns: auto 1fr;
    row-gap: 1rem;
}
